:root {
    --primary: #e10600;
    --dark: #0b0b0b;
    --light: #ffffff;
    --card: #151515;
    --muted: #999;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: var(--dark);
    color: var(--light);
}

a {
    transition: all 0.2s ease;
}