<header class="header">
  <nav>
    <h2>🏎️ F1 Predictions 🏎️</h2>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/races">Races</a></li>
      <li><a href="/leaderboard">Leaderboard</a></li>

      <% if (user) { %>
        <li>👤 <%= user.username || user.email %></li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Login</a></li>
      <% } %>
    </ul>
  </nav>
</header>